@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
}

header .logo a{
    font-size: 30px;
    color: white;
    padding: 15px 30px;
}

header .logo a span{
    color: orange;
}

header nav ul {
    display: flex;
}

header nav ul li a{
    margin: 5px 20px;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}

header nav ul li a:hover{
    border-bottom: 2px solid white;
}

/*Content*/

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96,76,76,.6),rgba(96,76,76,.6)),url("img/bg-image.jpeg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content h2{
    font-size: 32px;
    padding: 5px;
    color: white;
}

.content p{
    font-size: 22px;
    color: white;
}

/* Menu */

.menu{
    background-color: #333333;
    width: 100%;
}

.menu .menu-header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-header h3{
    color: orange;
    padding: 10px 30px; 
}

.menu-header h4{
    color: orange;
    padding: 10px 20px; 
}

.menu .menu-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    background-color: #404040;
}

.menu .menu-content .hot-coffees,
.cold-coffees,
.frappucino-coffees{
    width: 250px;
}

.menu .menu-content .hot-coffees .hot-coffees-image img {
    border-radius: 50%;
}
.menu .menu-content .cold-coffees .cold-coffees-image img {
    border-radius: 50%;
}
.menu .menu-content .frappucino-coffees .frappucino-coffees-image img {
    border-radius: 50%;
}

.menu .menu-content .hot-coffees-body,
.cold-coffees-body,
.frappucino-coffees-body{
    text-align: center;
    margin-top: 20px;
}

.menu .menu-content .hot-coffees-body h2,
.cold-coffees-body h2,
.frappucino-coffees-body h2{
    color: orange;
}

.menu .menu-content .hot-coffees-body label,
.cold-coffees-body label,
.frappucino-coffees-body label{
    margin-top: 10px;
    color: white;
}

/* Shop */

.shop{
    background-color: #333333;
    width: 100%;
}

.shop .shop-header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.shop-header h3{
    color: orange;
    padding: 10px 30px;
}

.shop-header h4{
    color: orange;
    padding: 10px 20px;
}

.shop-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #404040;
    padding: 50px 0;
    flex-wrap: wrap;
}

.shop-box .card{
    width: 280px;
    margin: 20px;
}

.shop-box .card-image{
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.shop-box .card-image img:hover{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.shop-box .card-body{
    padding: 20px;
    color: white;
    border: 3px solid #3B3B3B;
}

.shop-box .card-body h3{
    padding: 10px 0;
}

.shop-box .card-body i{
    color: yellow;
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.shop-box .card-body .cash{
    font-size: 22px;
    margin-left: 90px;
}